<%- layout("layout/boilerplate") %>


    <div class="row">
        <h1 class="text-center mb-5">Register</h1>
        <div class="col-lg-6 col-md-9 mx-auto">


            <form action="/register" method="post" novalidate class="needs-validation">
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" name="username" class="form-control" id="username" aria-describedby="emailHelp"
                        required>
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" name="password" id="password" required>
                </div>



                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp"
                        required>
                </div>

                <button type="submit" class="btn btn-info">Register</button>
            </form>
            <!-- <div>
                <a href="/restaurants">Back</a>
            </div> -->
        </div>
    </div>